@import 'navigation.css';
@import 'feed.css';
@import 'reset.css';
@import 'footer.css';
@import 'side-nav.css';
@import 'nav-profile.css';

body {
	font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
	font-size: 14px;
	line-height: 18px;
	color: color: rgba(var(--i1d,38,38,38),1);
	padding: 140px 0  0;
	background-color: #FAFAFA;
}

.content {
	display: flex;
	flex-flow: row nowrap;
	max-width: 935px;
	flex-grow: 1;
	margin: 0 auto;
	position: relative;
	width: 100%;
}













